In [5]:
import pandas as pd

In [6]:
a_df = pd.read_csv('../carbon_traces/NO-NO1_2023_hourly.csv')
a_df.head()

,timestamp,country,zone,zone_id,carbon_intensity_gco2_kwh_direct,carbon_intensity_gco2_kwh_lca,Low Carbon Percentage,Renewable Percentage,Data Source,is_data_estimated,Data Estimation Method
0,1672549200,Norway,Southeast Norway,NO-NO1,24.87,51.03,96.64,76.13,entsoe.eu,False,NaN
1,1672552800,Norway,Southeast Norway,NO-NO1,29.19,56.17,95.99,74.32,entsoe.eu,False,NaN
2,1672556400,Norway,Southeast Norway,NO-NO1,33.41,61.33,95.33,73.69,entsoe.eu,False,NaN
3,1672560000,Norway,Southeast Norway,NO-NO1,38.48,67.45,94.54,74.58,entsoe.eu,False,NaN
4,1672563600,Norway,Southeast Norway,NO-NO1,36.99,65.72,94.72,74.08,entsoe.eu,False,NaN

In [8]:
a_df['timestamp']

0       1672549200
1       1672552800
2       1672556400
3       1672560000
4       1672563600
           ...
8755    1704067200
8756    1704070800
8757    1704074400
8758    1704078000
8759    1704081600
Name: timestamp, Length: 8760, dtype: int64